.nested-fields
  .field
    = f.label :Title
    %br
    = f.text_field :title
  .field
    = f.label :Description
    %br
    = f.text_field :description
  = link_to_remove_association "remove step", f
